language: java
addons:
  sonarcloud:
    organization: mihanloko
    token:
      secure: mqdoawEKQJX6OtLO7XDl+1BXXhmhp0s0dIJDlHNFcsig2JnmZ4hG5PtGOqsVUGTgNkHsNed3W8hEhmlU/zCh33LxJqzhXIwhx7G6oojMQEO2YOoVhcYvFhK+f9g50mwywTnTfZgViB6VVOPWwZ8VDO9gpCNEeM2e7WZ3KZESkb5/TcppZRaqYC9rs38+XNwqcXiWaylUCPsMoZuf+YKrNgmioHvYXCOHV/OdKbgZbqCvQ5fxV3jEqrDctnfAU5P6tnXS/GWsngdiveD8fTPYX7W6ESpdXq74YCrTeVyiqsUGmyJETVXtLG46IN4+zAibmn+QkSiHSAvarFBTW/4cAOd18qwyMxrMg3Zvjkz8eONIe8GUi9I43HD61+G294DtQjiE0laagyq3C2xFH6Nb9WwoWfD8Qe02vCcoMrp9Xm1bQeN37DNKeh6GlsjITU4AY+qWKC8S2AbzqgDaw15V1WCuJPo0CoKJgXjgtvw3C1MRrCcIcxpVwHNAhuo5RmPk40agX5JNek/xWIc7aARGavkc74bfD/2SQe+paaIocVRzQgjsAWOoRq50I4dDtUV2Y4DRQHD+dgY3w6dEpdlT9GsYfB0gP48md2pQOnoemhKWb7m6WXe+NAkPSCurBkTOjo7hLt3yQXpmiEPF6Dq7cOF4sqGtkHVVLA+FPvC/VaE=
script:
- mvn org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar clean package
  -Dsonar.projectKey=mihanloko_projectForTeamDev
deploy:
  provider: heroku
  app:
    dev-a: test-app-loko
    master: summer-practice-master
  api_key:
    secure: H0CHW8zlRDE2JS0437W01M2nWKfioEjGCsUIj/iSyrqMVk/u7ozL57Oy8g+h1eHVWT3uC2CNSHoIxUc0LufXlyPbGxvQbdTvI+mSL74+hghJUYWlB/7ZZuRIzMBw9Bu/V8FTHLGe5nj4cKDv5bH+/DYaSOt7F/pDqf/RX3Hx5ky2lBkCu1K2cm0a2i57vVK9Yl5F/2nTEHGX2f5u5o0UbjieIyZSKc6EMTQ9ZpUof4MOpdPAKONK8nuczlSD7N7YiSG3Er+zQkwaNOXYYLun0e72QWgCDPbrW2OszSe7Mt9Fupj2AXLoMuNqEPyqSEeoZRMnqwutgcGUlL9cfnu64Y/stk4QkKIoWNF6aup8Rmiv8l9jp7XS55D56IbLFekh41pdmGhlf5vE14itfhWH50HEgYQbV+KgAMh7S6MIkfKU77oHg5HsfPL+jiuKu4uNIaH84AsaB/2hz7TVjnjFYfV19YYcJ6dw1ZCrPa63fsYncA+MEPqPAMnMNAsmc/9m63dj/EYgoF0jsMdhNEs6Nt/GhObbNJo9p/rwTf53BO4WLcpDZjGO0vZ0fnmIXP8PiSck/OWjM4RLjnQnX7H3VwwM6NaCbZ8qQ8rVTRvuZUwLHftRNbYN1SNwNVgJ78hV2iMRBA+G496WgnbL+bf7MeqOcn6CyU3XMIc1B84K5ms=
  run:
  - mvn clean package
